<po-page-list p-title="Cadastro - Componentes de preço" [p-actions]="pageActions">

    <po-container p-height="" p-no-border="false" p-no-padding="false" p-no-shadow="false">

        <po-input class="po-md-3" name="" [(ngModel)]="componente.codigo" p-label="Código" p-clean="true"
            p-mask-format-model="false" p-disabled="false" p-focus="false" p-readonly="false" p-required="false">
        </po-input>

        <po-input class="po-md-3" name="" [(ngModel)]="componente.descricao" p-label="Descrição" p-clean="true"
            p-mask-format-model="false" p-disabled="false" p-focus="false" p-readonly="false" p-required="false">
        </po-input>

        <po-input class="po-md-2" name="" [(ngModel)]="componente.unidadeMedida" p-label="Unidade de Medida"
            p-clean="true" p-mask-format-model="false" p-disabled="false" p-focus="false" p-readonly="false"
            p-required="false">
        </po-input>

        <po-select class="po-md-2" name="selectMoeda" p-label="Moeda" [(ngModel)]="componente.moeda" [p-options]="[
            { label: 'Real - BRL', value: '1' },
            { label: 'Dolar EUA - USD', value: '2' },
            { label: 'Euro - EUR', value: '3' } ]">
        </po-select>

        <po-input class="po-md-2" name="" [(ngModel)]="componente.codigoExterno" p-label="Código Externo" p-clean="true"
            p-mask-format-model="false" p-disabled="false" p-focus="false" p-readonly="false" p-required="false">
        </po-input>

        <po-select class="po-md-3" name="selectTipo" p-label="Tipo" [(ngModel)]="componente.tipo" [p-options]="[
            { label: 'Preço calculado', value: '1' },
            { label: 'Preço proposto', value: '2' },
            { label: 'Preço sazionais', value: '3' } ]">
        </po-select>

        <po-input class="po-md-2" name="" [(ngModel)]="componente.tabela" p-label="Tabela" p-clean="true"
            p-mask-format-model="false" p-disabled="false" p-focus="false" p-readonly="false" p-required="false">
        </po-input>

        <po-select class="po-md-3" name="selectAplicacao" p-label="Aplicação" [(ngModel)]="componente.aplicacao"
            [p-options]="[
            { label: 'Compra', value: '1' },
            { label: 'Venda', value: '2' },
            { label: 'Ambos', value: '3' } ]">
        </po-select>


        <po-switch class="po-md-2" name="" [(ngModel)]="componente.ativo" p-label="Ativo" p-label-on="Ativo-On"
            p-label-off="Ativo-Off" p-label-position="right" p-help="" p-disabled="false" p-auto-focus="false">
        </po-switch>

        <po-switch class="po-md-2" name="" [(ngModel)]="componente.hedge" p-label="Hedge" p-label-on="Hedge-On"
            p-label-off="Hedge-Off" p-label-position="right" p-help="" p-disabled="false" p-auto-focus="false">
        </po-switch>
    </po-container>


    <po-container p-height="" p-no-border="false" p-no-padding="false" p-no-shadow="false">
        <po-tabs>
            <po-tab p-label="Itens" p-active="true">
                <po-table [p-items]="[
                    { item: 'Milho', descricao: 'Milho comprado'}, 
                    { item: 'Soja', descricao: 'Soja comprado'}, 
                    { item: 'Trigo', descricao: 'Trigo comprado'} ]">
                </po-table>
            </po-tab>
            <po-tab p-label="Componentes">

            </po-tab>
            <po-tab p-label="Tipos de frete">

            </po-tab>
            <po-tab p-label="Finalidades">

            </po-tab>
        </po-tabs>
    </po-container>

</po-page-list>